# APISIX
APISIX_PORT=

# Postgres superuser password
POSTGRES_PASSWORD=

# Redis password
REDIS_PASSWORD=

# Magnet
MAGNET_LISTEN_URL=
MAGNET_POSTGRES_PASSWORD=
MAGNET_CONFIG_DIR=
MAGNET_DATA_DIR=
MAGNET_ADMIN_USERNAME=
MAGNET_ADMIN_PASSWORD=
RUST_LOG=